<div class="container">
    <h3>Добавить пользователя</h3>
  <form class="form-horizontal" #myForm="ngForm" novalidate (ngSubmit)="onSubmit(myForm)">
    <div class="form-group">
      <label class="col-sm-2 control-label" >Имя</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ngModel required name="firstName" placeholder="firstName">
      </div>
    </div>
    <div class="form-group">
      <label  class="col-sm-2 control-label">Фамилия</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ngModel required name="secondName" placeholder="lastName">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Номер</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ngModel required name="phone" placeholder="phone">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Адрес</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" ngModel required name="address" placeholder="address">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
       <input type="submit" [disabled]="myForm.invalid" class="btn btn-default" value="Отправить" />
      </div>
    </div>
  </form>
</div>
